@import "~tachyons";

body {
    font-family: 'helvetica neue', helvetica, sans-serif;
}
#pescotapa {
    width: 400px;
    height: 600px;
    background: url('pescotapa.png') left center;
}

.animated {
    animation: play 0.8s steps(30);
}

.share-button {
    cursor: pointer;
}

@keyframes play {
    100% { background-position: -12000px; }
}
